* {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}

button {
  background-color: initial;
  border: 0;
  cursor: pointer
}

body {
  background-color: #01cea1;
  height: 100vh;
  position: relative;
  width: 100%
}

.container {
  max-width: 800px;
  padding: 2rem;
}

.item-box {
  display: block;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-img {
  margin-top: 12px;
  border-radius: 0.7rem;
  overflow: hidden;
}

.title-img img {
  width: 100%;
  justify-content: space-between
}

.box {
  width: 100%;
  border: 1px solid #d4d4d4;
  align-items: center;
  border-radius: 0.8rem;
  padding: 50px 10px;
}

.box img {
  margin: 50px 0;
}

.box img {
  width: 60%;
}

.image-button {
  width: 20%;
}

.image-button img {
  width: 80%;
}

.item-box-r1 {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.item-box-reset {
  display: inline-block;
  background-color: rgb(255, 136, 0);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.item-box-value {
  color: rgb(255, 136, 0);
  font-weight: bold;
}