@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}

button {
  background-color: initial;
  border: 0;
  cursor: pointer
}

body {
  background-color: #01cea1;
  height: 100vh;
  position: relative;
  width: 100%
}

.container {
  max-width: 800px;
  padding: 2rem;
}

.item-box {
  display: block;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-img {
  margin-top: 12px;
  border-radius: 0.7rem;
  overflow: hidden;
}

.title-img img {
  width: 100%;
  justify-content: space-between
}

.box {
  width: 100%;
  border: 1px solid #d4d4d4;
  align-items: center;
  border-radius: 0.8rem;
  padding: 50px 10px;
}

.box img {
  margin: 50px 0;
}

.box img {
  width: 60%;
}

.image-button {
  width: 20%;
}

.image-button img {
  width: 80%;
}

.result {
  position: relative;
}

.item-box-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 요소의 중앙을 기준으로 이동 */
  text-align: center;
}

.item-box-point span {
  display: inline-block;
  background-color: #ff9a02;
  color: #ffffff;
  border: solid 3px #ff4a02;
  font-size: 36px;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
  font-family: 'JalnanGothic';
  letter-spacing: 3px;
}

.item-box-point span p {
  margin-top: 10px;
  font-size: 45px;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .item-box-point span {
    font-size: 18px;
    padding: 20px 5px 0px 5px;
    border-radius: 15px;
  }
  .item-box-point span p {
    margin-top: 10px;
    font-size: 24px;
  }
}
.item-box-r1 {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.item-box-reset {
  display: inline-block;
  background-color: rgb(255, 136, 0);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.item-box-value {
  color: rgb(255, 136, 0);
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal-content button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* StartPage스타일 */

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.video-container img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.start-buttons {
  display: flex;
  gap: 1rem;
}

.start-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-button.guest {
  background-color: #4CAF50;
  color: white;
}

.start-button.challenge {
  background-color: #2196F3;
  color: white;
}

.start-button:hover {
  opacity: 0.8;
}


.volume-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 45px; /* 아이콘 크기 조정 */
}

/*팝업*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*랭킹 리스트*/
.ranking-list {
  display: block;
  background-color: #e2feff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}